

/* para centrar la imagen y ajustarla */  
.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  top: 50px;
  margin: 100px auto; /* Centra la imagen horizontalmente */
  position: relative;
  display: block;
}

.title-profile{
  text-align: center;
  position: relative;
  font-family: 'F25';
  color: #054a61;
  /* top: 20px; */
}

.paragraph-profile{
  text-align: center;
  position: relative;
  top: 200px;
}