@font-face {
  font-family: "Andika";
  src: url(/src/assets/fonts/AndBasR.ttf);
}
@font-face {
  font-family: "F25";
  src: url(/src/assets/fonts/F25_Executive.otf);
}



/* .home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "F25";
  font-weight: bold;
  margin-top: 10px;
} */


.banner img{
  width: 100%;
  height: 500px;
  object-fit: cover;

}